
*
{
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body
{
    font-family: "DM Sans", sans-serif;

}

.container
{
    width: 100%;
    max-width: 1192px;
    padding: 10px;
    margin: 0 auto;
}


.header
{
    max-width: 1460px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 10px;
}

.header-list
{
    display: flex;
    align-items: center;
    gap:24px ;
}

.header-link
{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #121212;
}

.header-link:active
{
    opacity: 0.6;
}

.header-button
{
    padding: 14px 27px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.03em;
    border: 1px solid #A27B5C;
    background: none;
}

.header-button:active
{
    background-color: #A27B5C;
}


.info {
    padding: 80px 0;
}

.info-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-item{
    padding: 28px 0;
    display: flex;
    align-items: center;
    border-top: 1px solid #B8B8B8;
    gap: 50px;
}

.info-inner
{
    max-width: 881px;
}

.title {

    font-size: 48px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -0.01em;
    margin-bottom: 5px;
}

.info-button
{
    display: block;
    margin: 0 auto;
}

.hero{
    background-color: #FCF7EF;
    padding: 80px 0;
}

.hero-cont {
    max-width: 1192px;
    text-align: center;
    color: #121212;
}



.hiro-title {
    font-size: 96px;
    font-weight: 500;
    line-height: 120px;
    letter-spacing: -0.02em;
    margin-bottom: 20px;

}
.hero-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    margin-bottom: 40px;

}
.hero-img {
    margin: 0 auto 30px;
}
.hero-info {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: -0.01em;
    text-align: left;
}
.date {

    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #717171;
    display: flex;
    align-items: center;
}

.date span
{
    display:inline-block;
    margin: 0 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #717171;

}




.footer
{
    padding: 50px 0;
    background-color: #121212;
    text-align: center;
    color: #FFFFFF;
}

.footer a{
    color: #FFFFFF;
}

.footer-inner
{
    padding-bottom: 30px;
    border-bottom: 1px solid #FFFFFF
}

.footer-title
{
    font-size: 64px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -0.01em;
    margin-bottom: 30px;
}

.footer-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
margin-bottom: 10px;
}   

.footer-infos {
    display: flex;
    align-items: start;
    justify-content: center;
}

.tel
{
    align-items: center;
    margin-bottom: 10px;
}


.footer-pruf {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.03em;
}

.footer-wrapper {
    padding: 30px 0 80px;

    display: flex;
    justify-content: space-between;
}
.footer-links {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-apps
{
    display: flex;
    align-items: center;
    gap: 20px;
}


.atributs
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.atributs p
{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #A27B5C;

}



